@page "{name}"
<!-- How to exclude "/Details" from the route of this page?-->
<!-- How to replace "%20" with whitespace in the "Organic%20Honeycrisp%20Apple" part of the route?-->
@model DetailsModel
@{
	ViewData["Title"] = "Details";
}

<div id="top-container" class="text-center">
	<!-- Display CurrentFood's name -->
	<h2 class="font-weight-bold">@Model.CurrentFood.Name</h2>
	<!-- Display CurrentFood's image -->
	<img id="big-food-icon" src="@Model.CurrentFood.ImageSrc" alt="@Model.CurrentFood.Name" height="200">
	<!-- Display CurrentFood's price -->
	<p id="display-price" class="font-weight-bold text-left">$@String.Format("{0:0.00}", Model.CurrentFood.Price)</p>
</div>

<hr />

<div id="description-container">
	<!-- Display CurrentFood's description -->
	<p>@Model.CurrentFood.Desc</p>
</div>

<hr />

<div id="pricing-container" class="d-flex font-weight-bold">
	<!-- Include CurrentFood's price -->
	<span id="unit-price" class="d-none">@Model.CurrentFood.Price</span>

	<form method="post">
		<div class="col text-left">
			<label for="Quantity">Quantity: </label>
			<input type="number" name="Quantity" min="0" value="@Model.Quantity" onchange="this.form.submit()">
		</div>
	</form>	

	<div class="col text-right">
		Total: $<span id="total-price">@Model.TotalPrice</span>
	</div>

</div>

<hr />

<div id="back-button-container" class="text-center">
	<!-- Link back to home page-->
	<a asp-page="/Index" class="btn text-#417f43" >
		<img style="width: 1.5rem; display: inline;" src="https://content.codecademy.com/courses/asp-dot-net/food_icons/left-arrow.png" />
		Back to home
	</a>
</div>